*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
body {
  height: 100vh;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  overflow-y: scroll;
}

body {
  float: left;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* Add hyphens in text on IE10+, Firefox, Android and iOS.
  Requires "lang" attribute on <html> element */
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  /* Remove tap color */
  -webkit-tap-highlight-color: transparent;

  /* Adds momentum-based scrolling on iOS Safari */
  -webkit-overflow-scrolling: touch;

  /* Disable text scaling in horizontal mode */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;

  /* Fix different weight of some fonts on iOS Safari */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*a {*/
/*  color: inherit;*/
/*  text-decoration: inherit;*/
/*}*/

/*p {*/
/*  font-size: 1rem;*/
/*}*/

/*a:visited {*/
/*  color: inherit;*/
/*}*/

/*.row {*/
/*  display: flex;*/
/*}*/

/* Touch devices only (opposite syntax - @media (hover)) */
@media (pointer: coarse) {}
